CRM_DB_HOST=mysql_crm
CRM_DB_NAME=crm
CRM_DB_USER=crm_user
CRM_DB_PASSWORD=crm_password
CRM_DB_PORT=3306

CORE_DB_HOST=postgres_core
CORE_DB_NAME=core
CORE_DB_USER=core_user
CORE_DB_PASSWORD=core_password
CORE_DB_PORT=5432

WAREHOUSE_DB_HOST=postgres_warehouse
WAREHOUSE_DB_NAME=warehouse
WAREHOUSE_DB_USER=warehouse_user
WAREHOUSE_DB_PASSWORD=warehouse_password
WAREHOUSE_DB_PORT=5432

MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=financial-lake